* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

p {
    margin-bottom: 50px;
    text-align:

}

h1 {
    text-align: center;
    color: #ee3b91;
    margin-top: 100px;
    margin-bottom: 50px;
}