* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

p {
    margin-bottom: 50px;
    font-size: large;
}

h1 {
    color: #ee3b91;
    margin-top: 100px;
    margin-bottom: 50px;
}

h3 {
    color: white;
    margin-right: 140px;
}

h4 {
    color: white;
    float: left;
    margin-left: 10px;
}

a {
    color: rgb(0, 184, 221);
    text-decoration: none;
    margin-right: 100px;
}

.container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    height: 100px;
    float: left;
}

.label {
    float: left;
    width: calc(90% / 3);
}

.boy-1 {
    background-color: black;
    width: 33%;

}

.girl-1 {
    background-color: black;
    width: 33%;
    margin-left: 10px;

}

.boy-2 {
    background-color: black;
    width: 33%;

}

.girl-2 {
    background-color: black;
    width: 33%;
}

.boy-3 {
    background-color: black;
    width: 33%;
    margin-left: 10px;
}

.girl-3 {
    background-color: black;
    width: 33%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.first-clearfix {
    margin-bottom: 170px;
}